* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 3rem;
  margin: 5rem;
}
.selected-date-box {
  width: 30rem;
  border: 2px solid orange;
  display: flex;
  justify-content: center;
}

.selected-date-box__input {
  width: 100%;
  flex: 1;
  height: 4rem;
}

.selected-date-box__icon-button {
  align-self: flex-end;
  transform: translate(-2.7rem, -1.2rem);
  cursor: pointer;
  background-color: green;
  border-radius: 2px;
}
.selected-date-box__icon-button button {
  background: none;
  border: none;
  cursor: pointer;
}

.datepicker {
  width: 80rem;
  margin: auto;
  max-width: 100%;
  border: 3px solid deeppink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: max-content;
}

.calendar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar__text {
  font-size: 1.6rem;
  font-weight: 600;
}

.calendar__selection-date {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  color: rgb(230, 211, 221);
  background-color: deeppink;
  padding: 2rem;
  align-self: normal;
}

.calendar__view {
  display: grid;
  grid-template-columns: repeat(7, 4rem);
}

.calendar__view span {
  font-weight: bolder;
  font-size: 1.4rem;
  display: block;
  height: 2rem;
  text-align: center;
}

.calendar__view button {
  font-weight: bolder;
  font-size: 1.4rem;
  display: block;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 2px solid deeppink;
  cursor: pointer;
}

.selection-box {
  display: flex;
  gap: 2rem;
}

.selected-month,
.selected-year {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 13rem;
  padding: 12px 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  color: #333;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;

  /* Custom SVG Arrow */
  background-image: url("data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMDA3YmZmIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDE0IDE0Ij48cGF0aCBkPSJNMyA1bDYgNiA2LTZ6Ii8+PC9zdmc+");
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 14px;
}
option {
  font-size: 16px;
  padding: 10px;
  background-color: #fff;
  color: #333;
}

.btn-group {
  display: flex;
  gap: 1rem;
  align-self: flex-end;
}
.btn {
  display: block;
  padding: 1rem 2rem;
  border-radius: 2px;
  background-color: deeppink;
  color: white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.btn--prev {
}
.btn--next {
}
